body {
  background-color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-bottom: 20px;
  min-height: 80vh;
  position: relative;
}

/* Navbar */
.navbar-container {
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
}

.navbar-item {
  float: left;
}

#contact-navbar-item {
  margin-right: 16px;
}

.navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar-link:hover {
  background-color: #111;
}

.active {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #108bb1;
}

.active:hover {
  background-color: #0e6f8d;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 150px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.label-container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: #666;
  width: 400px;
  margin-bottom: 20px;
}

#label {
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

#favorite {
  display: inline-block;
  margin-top: 10px;
  margin-left: 130px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#movie-search {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px 20px;
  font-size: 16px;
}

#search-button {
  background-color: #108bb1;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #0e6f8d;
}

#search {
  margin-left: 40px;
}

#label {
  margin-top: 40px;
  padding-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Body */
.modal-body {
  padding: 0;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 780px;
  box-shadow: rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.5s;
  height: 720px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -600px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

#modal-backdrop {
  padding: 0;
  margin-left: 0;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    transparent 100%
  );
}

/* The Close Button */
.close {
  top: 5px;
  right: 10px;
  position: absolute;
  z-index: 10; /* Sit on top */
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body-header {
  display: flex;
  align-items: flex-start; /* Align items vertically */
}

.modal-movie-extra-info {
  margin-left: 40px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
}

#criti-score {
  color: #666;
}

#genres {
  margin-top: 8px;
  color: #666;
}

#modal-genres {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#where-to-watch-wrapper {
  padding: 0;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

#where-to-watch {
  padding: 0;
  color: #666;
}

#modal-movie-id {
  padding: 0;
}

.modal-title {
  padding-left: 20px;
  padding-top: 10px;
  width: 60%;
}

#modal-movie-title {
  font-size: 40px;
}

.modal-movie-info {
  padding-left: 2px;
  padding-top: 10px;
  color: #666;
}

#modal-movie-year {
  padding-right: 30px;
}

.modal-movie-rating {
  padding-top: 10px;
}

#modal-rating {
  color: #666;
}

.modal-movie-desc {
  padding-top: 10px;
  padding-left: 20px;
  width: 60%;
  padding-bottom: 10px;
}

/* Where To Watch Modal (WTW) */
.wtw-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Body */
.wtw-modal-body {
  padding: 0;
}

/* Modal Content */
.wtw-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.5s;
  height: 720px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -600px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* The services divs */
.service-icon {
  width: 60px;
  height: 60px;
  border: 2px black solid;
  border-radius: 50%;
}

.service-div {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 24px;
}

.service-info {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start; /* Align items to the start */
  margin-left: 8px;
}

.service-title {
  font-size: 24px; /* Larger font size for the title */
  color: #333; /* Gray color for the title */
  font-weight: bold; /* Bold font weight for emphasis */
}

.service-price {
  font-size: 16px; /* Smaller font size for the price */
  color: #888; /* Lighter gray color for the price */
  margin-top: 5px; /* Add margin-top for spacing */
}

.service-watch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 32px;
}

.watch-button {
  background-color: #108bb1;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.watch-button:hover {
  background-color: #0e6f8d; /* Darker Green */
}

.service-hr {
  width: 85%;
  margin-top: 24px;
}

.wtw-footer {
  position: absolute; /* Position the footer absolutely */
  bottom: 0; /* Align the footer to the bottom */
  right: 0; /* Align the footer to the right */
  width: 100px; /* Set a fixed width for the footer */
  height: auto; /* Allow height to adjust based on content */
  padding: 20px; /* Add padding for better appearance */
  box-sizing: border-box; /* Include padding in the width */
}

.wtw-footer:hover {
  cursor: pointer;
}

#show-more-1 {
  color: #108bb1;
}

/* Results Container */
.results-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#results {
  border: solid 1px #ccc;
  padding-top: 0px;
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  height: 600px;
  border-radius: 10px;
  background-color: #ccc;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Take up remaining vertical space */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0); /* For Firefox */
}

#search-results {
  overflow-y: auto;
  display: flex; /* Change display property to flex */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: flex-start;
}

#num-results {
  color: #666;
}

.featured-header {
  display: block;
  margin-bottom: 10px;
  font-size: 50px;
  color: #666;
}

.featured-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#featured-movies {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#featured-movies-list {
  overflow-y: auto;
  display: flex; /* Change display property to flex */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: flex-start;
}

/* Movie Card */
.featured-movie-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 185px;
  height: 350px;
  margin: 10px;
  display: flex; /* Set display to flex */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the start */
  background-color: #ffffff;
}

/* On mouse-over, add a deeper shadow */
.featured-movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#featured-missing-image {
  height: 274px;
}

.featured-movie-title {
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

.featured-movie-year {
  padding-left: 5px;
  padding-right: 5px;
}

.featured-movie-type {
  padding-left: 5px;
  padding-right: 5px;
}

.featured-movie-info {
  color: #666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* Movie Card */
.movie-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 185px;
  height: 350px;
  margin: 10px;
  display: flex; /* Set display to flex */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the start */
  background-color: #ffffff;
}

/* On mouse-over, add a deeper shadow */
.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#missing-image {
  height: 274px;
}

.movie-title {
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

.movie-year {
  padding-left: 5px;
  padding-right: 5px;
}

.movie-type {
  padding-left: 5px;
  padding-right: 5px;
}

.movie-info {
  color: #666;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* About */
.about-content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Contact */
.contact-container {
  max-width: 800px;
  position: relative;
  margin: 110px auto;
  padding: 20px;
  min-height: 70vh;
}

.contact-wrapper {
  max-width: 800px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form {
  height: fit-content;
}

#contact-header {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
}

.contact-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#message {
  height: 150px;
  max-width: 780px;
}

#contact-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact-submit:hover {
  background-color: #555;
}

/* Footer */
.footer {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  height: fit-content;
  left: 0;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  margin-left: 24px;
}

.footer-column h3 {
  font-size: 18px;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}
